<template name='customFields'>
  <div class='row topProduct'>
    <form class='' id='customFieldsForm'>
      <div class="form-group">
        <label for="columnName">CSV Column Name</label>
        <input required name='columnName' type="text" class="form-control" id="columnName" placeholder="Additional Column Name">
      </div>
      <div class="form-group">
        <label for="productField">Product Collection Field's Name</label>
        <input required name="productField" type="text" class="form-control" id="productField" placeholder="Products Collection Field's Name">
      </div>
      <div class="form-group">
        <label for='typeSelector'>Type</label>
        <select required name='typeSelector' id='typeSelector' class="form-control">
          <option value='string'>String</option>
          <option value='number'>Number</option>
          <option value='boolean'>Boolean</option>
        </select>
      </div>
      <div class="form-group">
        <label for='productSelector'>Type</label>
        <select  required name='productSelector' id='productSelector' class="form-control">
          <option value='topProduct'>Top Level Product</option>
          <option value='midVariant'>Grouping Variant</option>
          <option value='variant'>Variant</option>
        </select>
      </div>
      <button type="submit" class="customFieldsForm btn btn-default">Submit</button>
    </form>
  </div>
</template>
