<template name='dashboardProductImporter'>
  <div class='container'>
    <h1 class='text-center'>Product Importer</h1>
    <p>Product Importer allows you to bulk upload products from a CSV file. Each CSV requires a column called ProductId that groups variants together. Then you make the second level variant whatever you want and the third variant whatever you want. You can also control the mapping from one column to a corresponding DB field, or name your columns to correspond</p>
    <div class='row text-center'>
      <form id="import-products-csv-form" class="form-inline">
        <h4>Import products from CSV file.</h4>
        <label for="csvImportProductsFile">CSV File</label>
        <input type="file" accept=".csv" name="csvImportProductsFile" id="csvImportProductsFile" class="form-control btn" />
        <button type="submit" class="btn btn-default form-control">Import CSV File</button>
      </form>
    </div>
    {{#if importingProducts}}
      <div class='row'>
        <br>
        <div class='text-center'>
          <p>Importing Products</p>
        </div>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="6" aria-valuemin="0" aria-valuemax="{{importSize}}" style="width: 60%;">
            60%
          </div>
        </div>
      </div>
    {{/if}}
    <div class='table-responsive row'>
      <h2>CSV Example  For Basic Template</h2>
        <table class="table table-bordered table-hover ">
          <thead>
            <tr>
              <th>productId</th>
              <th>productTitle</th>
              <th>pageTitle</th>
              <th>vendor</th>
              <th>handle</th>
              <th>variantTitle</th>
              <th>title</th>
              <th>optionTitle</th>
              <th>price</th>
              <th>qty</th>
              <th>weight</th>
              <th>taxable</th>
              <th>hastags</th>
              <th>description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Basic Reaction Product</td>
              <td>This is a basic product. You can do a lot with it.</td>
              <td>Example Manufacturer</td>
              <td>example-product</td>
              <td>Basic Example Variant</td>
              <td>Option 1 - Red Dwarf</td>
              <td>Red</td>
              <td>19.99</td>
              <td>19</td>
              <td>35</td>
              <td>true</td>
              <td></td>
              <td>Sign in as administrator to edit.\nYou can clone this product from the product grid.</td>
            </tr>
            <tr>
              <td>1</td>
              <td>Basic Reaction Product</td>
              <td class="warning"></td>
              <td>Example Manufacturer</td>
              <td class="warning"></td>
              <td>Basic Example Variant</td>
              <td>Option 2 - Green Tomato</td>
              <td>Green</td>
              <td>12.99,</td>
              <td>42</td>
              <td>35</td>
              <td>true</td>
              <td class="warning"></td>
              <td class="warning"></td>
            </tr>
          </tbody>
        </table>
    </div>
    <div class='row '>
      <h2>Download Basic CSV Template</h2>
      <a href='#' class='btn btn btn-default downloadSample'>Download</a>
    </div>
    <div class='row'>
      <h2 class='text-center'>Custom Product Fields</h2>
      <p>Product Importer supports the importing of your custom fields, you just need to help us map them out. You need to tell us what the column name is, what the field name is on your products, what type of value you are inserting and finally where to put this (top level product, grouping variant or bottom variant)</p>
      {{> customFields}}
    </div>
  </div>
</template>

<template name='selectOptions'>
  <select class="form-control">
    <option value='string'>String</option>
    <option value='number'>Number</option>
    <option value='boolean'>Boolean</option>
  </select>
</template>

<template name='customFields'>
  <div class='row topProduct'>
    <form class='' id='customFieldsForm'>
      <div class="form-group">
        <label for="columnName">CSV Column Name</label>
        <input required name='columnName' type="text" class="form-control" id="columnName" placeholder="Additional Column Name">
      </div>
      <div class="form-group">
        <label for="productField">Product Collection Field's Name</label>
        <input required name="productField" type="text" class="form-control" id="productField" placeholder="Products Collection Field's Name">
      </div>
      <div class="form-group">
        <label for='typeSelector'>Type</label>
        <select required name='typeSelector' id='typeSelector' class="form-control">
          <option value='string'>String</option>
          <option value='number'>Number</option>
          <option value='boolean'>Boolean</option>
        </select>
      </div>
      <div class="form-group">
        <label for='productSelector'>Type</label>
        <select  required name='productSelector' id='productSelector' class="form-control">
          <option value='topProduct'>Top Level Product</option>
          <option value='midVariant'>Grouping Variant</option>
          <option value='variant'>Variant</option>
        </select>
      </div>
      <button type="submit" class="customFieldsForm btn btn-default">Submit</button>
    </form>
  </div>
</template>
